* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgba(49,49,49,1);
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  background: rgba(255,255,255,1);
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}
#my-canvas {
  position: absolute;
  z-index: -1;
}
#my-canvas.hide {
  display: none;
}
